*{
    margin: 0;
    padding: 0;
}

.header__location{
    height: 158px;
}
.header__location-top{
    background-color: #ffcc04;
    height: 44px;
}
.header__location-body{
    background-color: #ffd400;
    height: 50px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.header__location-body--list{
    display: flex;
}
